@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;

  --color-white: white;
  --color-black: black;
}

html, 
body {
  font-family: Montserrat, sans-serif !important;
  background-color: var(--color-white);
  color: var(--color-zinc-800);
}

.button {
  --g-button-text-color: var(--color-white);
  --g-button-background-color: var(--color-zinc-900);
  --g-button-background-color-hover: var(--color-zinc-700);
  --g-button-text-color-hover: var(--color-white);
  --g-button-focus-outline-color: var(--color-zinc-800);
}

.search-input {
  --g-text-input-text-color: var(--color-zinc-900);
  --g-text-input-background-color: var(--color-zinc-100);
  --g-text-input-border-color: var(--color-zinc-400);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}